html, body {
  overflow: auto;
  scroll-behavior: smooth;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center
}
.skill {
  width: 100%;
  height:100vh !important;
  height: auto;
  flex-direction: row;
  display:flex;
}
.projectName {
  background:linear-gradient(70deg,#ff8a09,#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.projectBody {
  background:linear-gradient(210deg,black,#ff8a09,black);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lang {
  border:4px solid black !important;
  box-shadow: 0px 0px 30px black !important;
  transition: .2s;
}
.lang:hover {
  border:4px solid white !important;
  box-shadow: 0px 0px 50px white !important;
}
.nav {
  width: 2% !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-gap: 10%;
  border-radius: 15%;
  margin-left: -30px !important;
  background-color:#100e17;
  position: fixed;
  transition: .4s;
  box-shadow: 10px 10px 30px cyan;
}

.nav:hover {
  width: 10% !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-gap: 10%;
  border-radius: 15%;
  margin-left: -30px;
  background-color:#100e17;
  position: fixed;
  box-shadow: none;
  transition: .3s;
}

.comps {
  width: 95%;
  /* font-family: 'Amatic SC'; */
  font-size: 10px !important;
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap;
  height: 100vh !important;
  /* background:#1d1d1d */
}

.singleProject {
    width:40%;
    /* height:60%; */
    background-color: white;
    /* padding: 1%; */
    /* align-content: center; 
    */
 
  }

#parent {
  display: flex;
  justify-content: center;
  height: fit-content   ;
  margin-top: 40px;
}
#parent2 {
  display: flex;
  justify-content: center;
  height: fit-content;

}
#parent3 {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  
}
#parent4 {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  /* margin-left: -350px; */

}
  #name {
    /* font-size: 100px;
    transition: .3s;
    color:white; */
  }
#name:hover {
  background:transparent;   
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  font-size: 132px;
  color:white !important;
  font-size: 155px;
}

.linkani:hover {
  /* font-size: 35px;
  color:white;
  text-decoration: none; */
}
.wow {
  background:linear-gradient(70deg,#ff8a09,#e52e71);
  text-shadow: 10px 10px 40px 10px  black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  transition: .1s;

  cursor: pointer;
}
.wow:hover {
  background:red;
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  transition: .3s;
  cursor: pointer;
}
.wow:active{
  background:orange;
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  transition: .3s;
  cursor: pointer;
}
.wow2 {
  background:red;
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  transition: .3s;
  cursor: pointer;
}
.wow2:hover {
  background:rgb(176, 246, 11);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  transition: .3s;
  cursor: pointer;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}
#parent1 #parent2 #parent3 #parent4 {
  justify-content: center;
}
.menuBtn {
  border: none;
}

.imageS {
  width: min-content;
  height: 5%;
  padding:10px;
  transition: .6s;
  animation: forwards;
  margin-left: -40px;
  color:white;
  cursor: pointer;
  justify-content: flex-end;
  transition: .3s;
}

.imageS:hover {
  background-color:greenyellow;
  color: black;
  padding: 10px;
  border-radius: 5%;
  box-shadow: 0px 0px 10px greenyellow;
  font-weight: bolder;
  /* box-shadow:0px 10px 20px 20px #0f0e14 ; */
}

.skillfill {
  /* display: flex;

  flex-direction: row;
  justify-content: space-around !important;
  width:95%;
  flex-wrap: wrap;
  align-items: center; */

  display:flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  /* margin-top: 10%; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  flex-wrap: wrap;
  align-items: flex-start;
  padding:10%;
}
a {
  font-size: 25px !important;
  font-weight: bold;
}

.linkani {
  font-size: 25px;
  color:black;
  text-decoration: none;
}
.nav2{
  display: none;
}

.projects {
  display:flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  /* margin-top: 10%; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  flex-wrap: wrap;
  align-items: flex-start;
}
.project {
  width: 20%;
  background-color: white;
  justify-content: center;
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .skill {
    margin-top: 30px;
    height: 100%;
  }
  .projects {
    display:flex !important;
    flex-direction: column !important;
    width: 100%;
    align-items: center;
    margin-top: 10%;
    overflow-y: auto;
    /* -webkit-overflow-scrolling: touch; */
    flex-wrap:nowrap;
  }
  .nav2{
    display: flex;
    flex-direction: row ;
    position: fixed;
    top:0px;
    left:0px;
    padding: 5px;
    height:auto;
    background-color: black;
    width: 100%;
    justify-content: space-around;
  }
  .imageS {
    /* width: 50%; */
    height: 5%;
    transition: .6s;
    animation: forwards;
    color:white;
    cursor: pointer;
  }
  .project {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    background-color: white;
    justify-content: center;
    margin:10% !important;
    height:800px;

  }
  .linkani {
    font-size: auto ;
    /* color:white; */
    text-decoration: none;
  }
  .linkani:hover {
    color:rgb(188, 255, 64) !important;
    text-decoration: none;
  }
  .wow {
    background:#08fdd8;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    transition: .1s;
    cursor: pointer;
  }
  .wow:hover {
    background:red;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    transition: .3s;
    cursor: pointer;
  }

  .wow2 {
    background:whitesmoke;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    transition: .3s;
    cursor: pointer;
    margin-top: 50px;
  }
  .wow2:hover {
    background:rgb(176, 246, 11);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    transition: .3s;
    cursor: pointer;
    margin-top: 50px;
  }

  .nav {
    display: none;
    transition: .3s;
  }
  .main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1000px) {
  .nav2{
    display: flex;
    flex-direction: row ;
    position: fixed;
    top:0px;
    left:0px;
    padding: 5px;
    height:auto;
    background-color: black;
    width: 100%;
    justify-content: space-around;
  }
  .linkani {
    font-size: auto;
    /* color:white; */
    text-decoration: none;
  }
  .wow {
    background:red;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    transition: .1s;
    cursor: pointer;
    margin-top: 50px;
  }
  .wow:hover {
    background:red;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    transition: .3s;
    cursor: pointer;
  }

  .wow2 {
    background:red;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    margin-top: 50px;
  }
  .wow2:hover {
    background:rgb(176, 246, 11);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    transition: .3s;
    cursor: pointer;
    margin-top: 50px;
  }

  .nav {
    display: none;
    transition: .3s;
  }
  .projects {
    display:flex !important;
    flex-direction: column !important;
    width: 100%;
    align-items: center;
    margin-top: 10%;
    /* overflow-y: auto; */
    /* -webkit-overflow-scrolling: touch; */
    flex-wrap:nowrap;
  }

  .main {
    /* height: auto; */
    width: 100%;
    display: flex;
    flex-direction: row;
  }

}